<body>
  <div class="content">
    <header>
      <div class="main"><a href="/">ITroyas</a></div>
      <nav class="menu">
        <a href="/">Главная</a>
        <a href="/blog">Блог</a>
        <a href="/categories">Категории</a>
        <a href="https://t.me/itroyas">Telegram</a>
      </nav>
      <div class="burger">&#9776;</div>
    </header>

    <main class="list">
      {{ content }}
    </main>

    <footer>
      <div class="footer-info">2025 © ITroyas</div>
    </footer>
  </div>

  <script>
    document.querySelector('.burger').addEventListener('click', function() {
      document.querySelector('.menu').classList.toggle('show');
    });
  </script>
</body>
